 <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">

    <div class="card">
        <h3 class="card-header">Create New Post</h3>
        <form class="card-body create-post-form">
            <div class="mb-3">
                <label class="form-label" for="post-title">Title</label>
                <input id="post-title" name="post-title" type="text" autofocus="true" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="post-content">Content</label>
                <textarea name="post-content" class="form-control" autofocus="true"></textarea>
            </div>
            <div>
                <button class="btn btn-primary btn-block" type="submit" class="btn">Create</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>

<script src="/javascript/add-post.js"></script>