<div class="container mt-5">
  {{#if loggedIn}}
  <div class="d-flex flex-column text-center mb-5">
    <h2 class="display-6 font-weight-bold text-uppercase">Welcome {{username}}</h2>
  </div>
</div>
{{/if}}
{{#if posts.length}}
<div class="container">
  <div class="d-flex flex-column text-center mb-5">
    <h4 >Recent Posts</h4>
  </div>
</div>

<div class="tab-content mb-5">
  <div id="class-all" class="container tab-pane p-0 active">
 <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
                  {{#each posts as  |post| }}
                    <!-- Post preview-->
                    {{> postinfo post }}
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{{/if}}

